# Dependencies
node_modules/
.pnp
.pnp.js

# Build / Next
.next/
out/
build/
dist/
*.tsbuildinfo
next-env.d.ts

# Env
.env
.env*.local

# Debug / OS
npm-debug.log*
.DS_Store
*.pem

# Test / coverage
coverage/

# IDE
.idea/
.vscode/
*.swp

# Vercel
.vercel
